<!DOCTYPE html>
<html data-ng-app="FileExp" lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>File explorer</title>
		<link type="text/css" href="css/bootstrap.css" rel="stylesheet" />
		<link type="text/css" href="css/style.css" rel="stylesheet" />
		<script type="text/javascript" src="js/angular.min.js"></script>
		<style>
			.container {
			    background-color: rgb(104, 145, 204);
			}
		</style>
	</head>
	<body data-ng-controller="MainController">
		<div data-file-explorer-structure></div>
		<!-- <ul>
			<li class="folderList toEnter hoverBackground classForInsertFevPath '+systemFile+'" data-fullPath="'{{ drive.DriveLetter.trim() }}':" data-ng-repeat="drive in drives">
				<div class="driveName driveElementNavigation navigationSections navigationsTexts folder " title="'{{ drive.DriveLetter.trim() }}'" >
					<span class="window removableDisk"></span>
					<div class="windowTextDiv ellipses">
						<span data-ng-if="drive.VolumeName" data-ng-bind="drive.VolumeName + ' ('"></span>
						<span data-ng-bind="drive.DriveLetter.trim()"></span>
						<span data-data-ng-if="drive.VolumeName" data-ng-bind="')'"></span>
					</div>
				</div>	
			</li>
		</ul> -->
		
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>